<h1>Netlify Ng</h1>
<p>
  This project was created for the purpose of testing or trying out the
  Netlify/Git continuous deployment using GitHub.
</p>
<h2>Manually Deployed</h2>
<h3>
  Manually deployed URL:
  <a href="https://netlify-manual-ng.netlify.app/"
    >netlify-manual-ng.netlify.app/</a
  >
</h3>
<p>
  This site was manually deployed to Netlify using the app.netlify.com drag and
  drop functionality. The distributable production directory and production
  files was built locally.
</p>
URL: https://netlify-ng.netlify.app/
<h2>Continuous Deployment</h2>
<h3>
  Deployed via Netlify / GitHub URL:
  <a href="https://netlify-git-ng.netlify.app/">netlify-git-ng.netlify.app</a>
</h3>
<p>
  This site was deployed by connecting the new site to GitHub, selecting the
  appropriate directory, setting the build options, and deploying.
</p>
<p>
  The non-default build options were:<br />
  Build command: 'ng build --prod'<br />
  Publish directory 'dist/netlify-ng'
</p>
